
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
  

body {
  font-family: "Space Mono", monospace;
  background-image: url("src/assets/back.jpg");
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

h1 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 50px;
}

input {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  border-radius:5px;
  border: 1px solid rgb(193, 187, 187);
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  background-color: #f1ecec; 
  color: rgb(53, 124, 224);
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

li{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 20px;
  background-color: #f1ecec;
  margin: 4px;
  border: 1px solid rgb(193, 187, 187);
  border-radius:5px;
  width: 200px;
}

button:hover {
  background-color: #83a6ed;
  color: rgb(251, 251, 251);
}

